node_modules/
.env
.env.local
.DS_Store
dist/
dist-ssr/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.idea/
.gemini/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
client/node_modules/
Server/node_modules/
client/dist/
